*{
    margin:0;
    padding:0;
    box-sizing: border-box; /* So the actual content shrinks to make room for padding and border, and the total size stays as defined */
    cursor: url("../images/Cursor Pointer/crayon.png") 16 16, pointer;
}
body{
    width:100vw;
    height:100vh;
    font-family: "Montserrat", sans-serif; /* The main font */
    font-weight: 400;
    padding:20px;
    background-color: blue;
    overflow-x: hidden; /* Horizontal scroll hidden */
}

/* -------- To control the menu ------------ */

header{ /* the header positioned in the center of the viewport */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
header h2{
    font-family: "Fjalla One", sans-serif; /* The secundary font for titles */
    font-weight: 700;  /* The weight of the font so it's visually bold */    
    margin-bottom: 5px;
    font-size: 2em;
}
.open{ /* To select the button menu */
    width:100px;
    background-color:crimson;
    color: beige;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.open h2{
    font-size: 1.5em;
}
nav{ /* To select the nav once it's open */
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: crimson;
    width:100vw;
    height:100vh;
    bottom: -100vh; /* Starts completely off-screen (at the bottom) */
    transition: bottom 1s; /* Animation to show/hide the nav */
}
nav.expand{ /* To open the nav */
    bottom: 0; /* When expanded, it slides in from the bottom */
    display:flex;
}
nav ul{ /* to positioned the tabs in the center */
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    gap: 20px;
}
nav a{
    text-decoration: none;
    font-size: 3em;    
    color:beige; 
    font-weight: 700;
}
nav i{ /* to select the icons */
    font-size: 3em;
    margin-left:15px;
    color:blue;
}
.close{ /* To select the button to close the nav */
    display: none; /* Hidden by default only shown when the nav is expanded */
    position: absolute; /* Positioned inside the nav */
    bottom: -100vh; /* Initially off-screen */
    right: 40px;
    width:60px;
    background-color:beige;
    border-radius: 20px;
    font-size: 0.6em;   
    transition: bottom 1s; /* Same sliding animation as the nav */
}
nav.expand .close { /* To close the nav */
    display:flex; /* Becomes visible when the nav expands */
    bottom: 10vh; /* Adjusted to be above the bottom of the screen */
}

/* -------- To select everything the main ------------ */

.main{ 
    width: 100%;
    margin-top:4vh;
    display: flex;
    justify-content:center; 
    align-items: center;
    flex-direction: column;
}

/* -------- To select everything the first div of the main called .top ------------ */

.main .top{ /* to select the overall container */
    width: 100vw;
    display: flex;
    justify-content:center; 
    align-items: center;
}
.main .containerImage{ /* to select the container */
    width:460px;
    height: 500px;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: end;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.1);
}
.main img{  /* to select the image */
    width:300px;
    object-fit:cover;
    border: solid 5px crimson; /* Interior border in crimson */
    box-shadow: 0 0 0 7px black; /* Exterior border in black*/
    border-radius: 20px;    
    margin-left: 5%;
}
.main .containerImage h2{ /* to select the h2 next to the image */
    width:150px;
    font-family: "Fjalla One", sans-serif; 
    font-weight: 700;     
    margin-bottom: 5px;
    font-size: 2em;
    margin-right: 10px;
    color: crimson;
}
.main .circle{ /* to select the circled container */
    width:450px;
    height:450px;
    border-radius: 50%;
    background-color: crimson;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    padding: 5%;
    border: solid 5px black;
}
.main .circle p{
    height:10vh;
    font-size: 0.9em;
    color: beige;
    margin-bottom: 30px;
}

/* -------- To select everything the second div of the main called .bottom ------------ */

.main .bottom{ /* to select the overall container */
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content:space-evenly; 
    align-items: center;
    margin-bottom:60px;
}

.main .bottom .text{ /* to select the container */
    width:70vw;
    height: 500px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.bottom .container{
    width:300px;
    height:400px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottom .container p{
    margin-top: 8px;
}

/* -------  To select the buttons that link to other pages ----------- */

.go{
    font-family: "Fjalla One", sans-serif;
    font-weight: 700;
    width:150px;
    height:50px;
    background-color:crimson;
    color: beige;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom:20px ;
}
.go a,
.hire a{
    text-decoration: none;
    font-size: 1.5em;
    color: beige;
}
.go i{
    font-size: 1.5em; 
}
.hire{
    font-family: "Fjalla One", sans-serif;
    font-weight: 700;
    width:100px;
    height:50px;
    background-color:crimson;
    color: beige;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 0.9em;
}


/* -------  To select the footer ----------- */

footer{ /* the header positioned in the center of the viewport */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
}
footer h2{
    font-family: "Fjalla One", sans-serif; /* The secundary font for titles */
    font-weight: 700;  /* The weight of the font so it's visually bold */    
    margin-bottom: 5px;
    font-size: 2em;
}

/* -------  To make the website Responsive for different screen sizes ----------- */

@media screen and (min-width: 801px) and (max-width:1200px){
    .main .top{
        padding: 20px;
        margin-left: 10%;
    }
    .main .circle{ 
        max-width:450px;
        max-height:450px;
        width:350px;
        height:350px;
    }
    .main .circle p{
        height:5vh;
        font-size: 0.7em;
    }
    .main .bottom{ 
        margin-top:50px;
        margin-bottom:30px;
    }
    .hire{
        margin-top: 30px;
    }
}

@media screen and (min-width: 501px) and (max-width: 800px){ /* some changes for smaller screens like tablets or some computers */
    nav ul{
        gap: 10px;
    }
    nav a{
        font-size: 2em;    
    }
    nav i{ 
        font-size: 2.5em;
    }
    .main .top{
        padding: 20px;
        flex-direction: column;
        margin-bottom: 20%;
    }
    .main .containerImage{
        height:40vh;
    }
    .main img{
        width:200px;
        margin-left: 5%;
    }
    .main p{
        font-size: 1em;
    }
    .main .circle{ 
        max-width:350px;
        max-height:350px;
        width:350px;
        height:350px;
    }
    .main .circle p{
        font-size: 0.8em;
        height:6vh;
    }
    .main .bottom{ 
        margin-bottom:10%;
        height: 20vh;
        justify-content: center;
        padding:8%;
    }
    .main .bottom .text{ /* to select the container */
        width:90vw;
        height: 300px;
    }
    .bottom .container{
        width:300px;
        height:400px;
    }
    .bottom .container h2{
        font-size: 1em;
    }
    .bottom .container p{
        margin-top: 8px;
        font-size: 0.7em;
    }
    .go{
        gap:5px;
    }
    .go a{
        font-size: 1.2em;
    }
    .hire{
        margin-top:100px;
    }
    .hire h2{
        font-size: 1.3em;
    }
}


@media screen and (min-width: 150px) and (max-width: 500px){ /* some changes for for phones */
    nav ul{
        gap: 5px;
    }
    nav a{
        font-size: 1.5em;    
    }
    nav i{ 
        font-size: 2em;
    }
    .main{
        margin-top: 5vh;
    }
    .main .top{
        height:70vh;
        padding: 20px;
        flex-direction: column;
        margin-bottom: 40%;
    }
    .main .containerImage{
        height:40vh;
    }
    .main img{
        width:130px;
        margin-left: 2%;
    }
    .main .containerImage h2{
        width: 130px;
        font-size: 1.3em;
    }
    .main p{
        font-size: 1em;
    }
    .main .circle{ 
        width:250px;
        height:250px;
        padding:10%;
    }
    .main .circle p{
        font-size: 0.6em;
        height:4vh;
    }
    .main .bottom{ 
        height: 60vh;
        margin-bottom: 6%;
        justify-content: center;
        padding:8%;
    }
    .main .bottom .text{ /* to select the container */
        width: 100vw;
        height: 60vh;       
        flex-direction: column;
    }
    .bottom .container{
        width: 200px;
        height: 400px;
        margin-bottom: 10%;
    }
    .bottom .container h2{
        font-size: 1em;
    }
    .bottom .container p{
        margin-top: 8px;
        font-size: 0.7em;
    }
    .go{
        gap:5px;
    }
    .go a{
        font-size: 1.3em;
    }
    .hire{
        margin-top:80px;
    }
    .hire h2{
        font-size: 1.3em;
    }
}